

<%= div_for user do %>
<tr>
	<td><%= user.name %> </td>
	<td><%= user.surname %> </td>
	<td><%= user.email %> </td>

	<div class="actions" >
		<td><%= link_to'Show', user %></td>
		<td><%= link_to'Edit', edit_user_path(user) %></td>
		<td><%= link_to'Destroy', user, method: :delete %></td>
	</div>
</tr>
<% end %>