<!DOCTYPE html>
<html>

<h1> Edit User </h1>


<%=	form_for(@user) do |f| %>

 <div class="field">
    <%= f.label :name%><br />
    <%=f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :surname%><br />
    <%=f.text_field :surname %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

	
	<div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
</div>

<div class="action" >
	<%= f.submit  %>
</div>
<% end %>
<%= link_to "Index", users_path %>

</html>