<!DOCTYPE html>
<html>

<h1>Listing Users </h1>

<% if @users.size==0 %>
	<em> No User found </em>
<% else %>

<table>
	<tr>
		<th> Name </th>
		<th> Surname </th>
		<th> Email </th>
	</tr>
<div id="users" >
	<%= render @users %>
</div>
<%= link_to "Back", :back %>

<% end %>
</table>
</html>