<!DOCTYPE html>
<html>

<h1> User </h1>
<% if @user == nil %>
<em> No User found </em>

<% else %>
<table>
<tr>
<th> Name </th>
<th> Surname </th>
<th> Email </th>
</tr>

<tr>
<td><%= @user.name %> </td>
<td><%= @user.surname %> </td>
<td><%= @user.email %> </td>


<td><%= link_to'Edit', edit_user_path(@user) %></td>
<td><%= link_to'Destroy', @user, method: :delete %></td>
</tr>

<tr>
<%= link_to "Back", :back %>
</tr>

</table>
<% end %>

</html>