<h1> New User </h1>

<%= form_for (User.new) do |f| %>

<div class ="field" >
	<%=f.label :name %> <br/>
	<%=f.text_field :name %> <br/>
	<%=f.label :surname %> <br/> 
	<%=f.text_field :surname %> <br/>
	<%=f.label :email %> <br/>
	<%=f.email_field :email %> <br/>
	<%=f.label :password %> <br/>
	<%=f.text_field :password %>
</div>
<div class="action" >
	<%= f.submit  %>
</div>

<%=link_to 'Back' , @user %>
<% end %>

