<h1> Listing skills </h1>

<% if @resume.skills.size==0 %>
<em> No Skill found </em>
<% else %>

<table>
<tr>
<th> Description </th>
<th> Score </th>
</tr>


<div>
<%=render @skills %>
</div>

<% end %>
</table>