<h2>New Skill</h2>  
  
<%= form_for [@resume, Skill.new] do |f| %>  
  <p><%= f.label :description %> <%= f.text_field :description %></p>  
  <p><%= f.label :score %>
  <%= f.radio_button("skill", :score, 1) %></p>  
  <%= f.radio_button("skill", :score, 2) %></p>
  <%= f.radio_button("skill", :score, 3) %></p>
  <%= f.radio_button("skill", :score, 4) %></p>
  <%= f.radio_button("skill", :score, 5) %></p>
  <p><%= f.submit %></p>  
<% end %>  