
<tr>
<td><p>Name  <%= skill.description %> </p></td>
<td><p> <%= skill.score %> </p></td>
 
<td><%= link_to'Edit', edit_resume_path(resume) %></td>
<td><%= link_to'Destroy', resume, method: :delete %></td>
</tr>