
<!DOCTYPE html>
<html>
<h1> Default Page </h1>

<%- if user_signed_in? %>
  <p>Hello <%= current_user.email %><br />
  <%= link_to 'Edit', edit_user_registration_path %> 
  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></p>
  <%= link_to 'New Resume', new_resume_path %>
  <%= link_to 'My Resumes', resumes_path %>
<%- else %>
  <p>
    <%= link_to 'Register', new_user_registration_path %> |
    <%= link_to 'Sign in', new_user_session_path %>
  </p>
<%- end %>
</html>