

<h1>Welcome <%= @user.surname @user.name %>, </h1>

<p> We thank you for being part of that project ! </p>
<p> Your account has been succesfully created, you can access it here  <%= link_to "My account", user_url(@user) %> </p>