
<%=	form_for(@resume) do |f| %>
<div class ="resume_form" id="new_resume_form" >

<%= f.label :name %><br/>
<%= f.text_field :name  %> <br/>
<%= f.label :surname %><br/>
<%= f.text_field :surname  %> <br/>
<%= f.label :email %><br/>
<%= f.text_field :email  %> <br/>
<%= f.label :adresse %><br/>
<%= f.text_field :adresse  %> <br/>
<%= f.label :phone_number %><br/>
<%= f.text_field :phone_number  %> <br/>
<%= f.label :date_of_birth %><br/>
<%= f.date_field :date_of_birth, :start_year => 1900 %> <br/> <!-- f.date_select  -->

<%= render 'skills/new'%>

<%= f.submit  %>
<% end %>

