
<h1> Listing resumes </h1>

<% if @resumes.size==0 %>
<em> No Resume found </em>
<% else %>

<table>
<tr>
<th> Name </th>
<th> Surname </th>
<th> Email </th>
<th> Adresse </th>
<th> Phone number </th>
<th> Date of birth </th>
</tr>



<%= @resumes.each do |resume| %>

<tr>
<td> <%= resume.name %> </td>
<td> <%= resume.surname %> </td>
<td> <%= resume.email %> </td>
<td> <%= resume.adresse %> </td>
<td> <%= resume.phone_number %> </td>
<td> <%= resume.date_of_birth %> </td>
 


<td><%= link_to'Show', resume %></td>
<td><%= link_to'Edit', edit_resume_path(resume) %></td>
<td><%= link_to'Destroy', resume, method: :delete %></td>
</tr>
<% end %>


<% end %>
</table>
