
<h1> Resume </h1>


<% if @resume == nil %>
<em> No Resume found </em>
<% else %>

<table>
<tr>
<th> Name </th>
<th> Surname </th>
<th> Email </th>
<th> Adresse </th>
<th> phone_number </th>
<th> date_of_birth </th>
</tr>

<tr>
<td> <%= @resume.name %> </td>
<td> <%= @resume.surname %> </td>
<td> <%= @resume.email %> </td>
<td> <%= @resume.adresse %> </td>
<td> <%= @resume.phone_number %> </td>
<td> <%= @resume.date_of_birth %> </td>
<div>

<%= render 'skills/index'%>

<td><%= link_to'Edit', edit_resume_path(@resume) %></td>
<td><%= link_to'Destroy', @resume, method: :delete %></td>
</tr>


</table>
<% end %>
